@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue.ttf"); }
body {
  position: relative;
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857;
  font-family: sans-serif;
  overflow-x: hidden; }

@media (max-width: 769px) {
  .baner {
    margin-top: 10px !important; }
    .baner .caption-opsition {
      bottom: 10% !important; }

  .slide-height, .baner img {
    height: 300px !important; }

  .shop-cat-box h3 {
    font-size: 1.3rem; }
  .shop-cat-box a h2 {
    font-size: 1.5rem; }

  .cart-mobi {
    display: block !important; }

  .cart {
    display: none; }

  .carousel {
    margin-top: 5px; }

  .home-promotion .promo-product .promo1 {
    margin: 0px !important; }
    .home-promotion .promo-product .promo1 .promo-info {
      display: none !important; }
  .home-promotion .promo-product .promo2 {
    display: none; }
  .home-promotion .promo-product .promo3 {
    display: none; }

  .product-header .btn-slide-control, .news-header .btn-slide-control {
    width: 30px !important;
    height: 30px !important; }

  .customer-review-mobi {
    display: block !important; }

  .customer-review {
    display: none; }

  .home-promotion .promotion-tittle h2 {
    font-size: 30px !important; }
  .home-promotion .promotion-tittle h3 {
    font-size: 18px !important; }

  .ft-album {
    display: none; } }
@media (max-width: 600px) {
  .shop-cat-box h3 {
    font-size: 13px !important; }
  .shop-cat-box a h2 {
    font-size: 15px !important; } }
.breadcrumb {
  margin-bottom: 0; }
  .breadcrumb a {
    color: #b5b5b5; }
  .breadcrumb .breadcrumb-item.active {
    color: #fff; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">"; }

.customer-review-mobi {
  display: none; }

.slide-height, .baner img {
  height: 820px; }

.btn-search {
  margin-top: -36px; }

.cart-mobi {
  display: none; }

#button {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #80B435;
  position: fixed;
  bottom: 0px;
  right: 0px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }
  #button .text {
    bottom: 20px;
    right: 20px;
    position: fixed; }

#button:hover {
  cursor: pointer;
  color: white; }

#button:active {
  color: white; }

#button.show {
  opacity: 1;
  visibility: visible; }

a:hover {
  text-decoration: none; }

header a {
  color: #747474; }
header a:hover {
  color: #747474; }
header .topbar {
  background: #ffffff;
  color: #555555;
  line-height: 30px; }
  header .topbar .topbar-inner {
    border-bottom: 1px solid rgba(181, 181, 181, 0.1); }
    header .topbar .topbar-inner .account {
      margin: 0 0 0 5px; }
      header .topbar .topbar-inner .account li {
        display: inline-block; }
        header .topbar .topbar-inner .account li a {
          color: #888888; }
    header .topbar .topbar-inner p {
      margin: 0; }
header .main-menu {
  background: white;
  border-bottom: 1px solid #ccc; }
  header .main-menu .dropdown-hover-product:hover .dropdown-menu {
    display: block; }
  header .main-menu .navbar .navbar-nav li {
    border-bottom: 4px solid white; }
    header .main-menu .navbar .navbar-nav li a {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      padding: 0 8px;
      margin: 0 1px;
      color: #212121;
      line-height: 21px;
      display: block;
      position: relative;
      border-bottom: 4px solid white; }
    header .main-menu .navbar .navbar-nav li a:hover {
      border-bottom: 4px solid #80B435;
      transition: all 0.3s ease-in-out 0s; }
  header .main-menu .navbar .navbar-nav .nav-item {
    border-bottom: 0px; }
    header .main-menu .navbar .navbar-nav .nav-item .menu-product {
      left: -194%;
      right: -407%;
      background: #212121;
      color: #fff;
      padding: 30px 30px 35px; }
      header .main-menu .navbar .navbar-nav .nav-item .menu-product ul li {
        background: #212121;
        color: #fff;
        border: 0; }
        header .main-menu .navbar .navbar-nav .nav-item .menu-product ul li .produc-clm h3 {
          margin-bottom: 20px; }
        header .main-menu .navbar .navbar-nav .nav-item .menu-product ul li .produc-clm li a {
          background: #212121;
          color: #fff;
          border: 0;
          font-size: 1rem;
          padding: 5px 0 5px 15px;
          text-transform: none;
          line-height: 25px;
          font-weight: 300; }
        header .main-menu .navbar .navbar-nav .nav-item .menu-product ul li .produc-clm li a:hover {
          color: #80B435; }
    header .main-menu .navbar .navbar-nav .nav-item .active {
      border-bottom: 4px solid #80B435; }
  header .main-menu .navbar .navbar-nav .cart a .num-cart {
    position: absolute;
    right: 20px;
    top: 0;
    width: 20px;
    height: 20px;
    color: white !important;
    background: #80B435;
    border-radius: 50%; }
  header .main-menu .navbar .navbar-nav .cart .dropdown-toggle:after {
    border-top: 0; }

.baner {
  margin-top: 114px; }
  .baner .caption-opsition {
    bottom: 50%; }
    .baner .caption-opsition h1 {
      font-size: 86px; }
    .baner .caption-opsition p {
      font-size: 30px; }

.shop-cat-item {
  position: relative;
  text-align: center;
  margin-top: -20%;
  z-index: 10; }
  .shop-cat-item .shop-cat-thumb {
    display: block;
    position: relative; }
  .shop-cat-item .shop-cat-thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    content: "";
    transition: all 0.3s ease-in-out 0s; }
  .shop-cat-item .shop-cat-thumb:hover:after {
    background: rgba(0, 0, 0, 0.8); }
  .shop-cat-item fieldset {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center; }
    .shop-cat-item fieldset .shop-cat-box {
      border: 2px solid white; }
      .shop-cat-item fieldset .shop-cat-box a {
        color: white; }
      .shop-cat-item fieldset .shop-cat-box a:hover {
        color: #80B435; }

.shop-cat-item:hover {
  background: rgba(0, 0, 0, 0.8); }

.policy-item {
  font-size: 18px;
  text-transform: uppercase;
  color: #212121;
  font-family: 'roboto', sans-serif;
  -moz-box-shadow: 0px 1px 4px 2px #f1f1f1;
  -webkit-box-shadow: 0px 1px 4px 2px #f1f1f1;
  box-shadow: 0px 1px 4px 2px #f1f1f1;
  text-align: center;
  padding: 40px 0; }

.card {
  background-color: #ffffff; }

.dropdown-menu-custom {
  width: 23rem !important;
  left: -125px !important; }

.tab-card {
  border: 1px solid #eee;
  color: #212121; }

.tab-card-header {
  background: none; }
  .tab-card-header .nav-tabs {
    border: none;
    margin: 0px; }
  .tab-card-header .nav-tabs li {
    margin-right: 2px; }
    .tab-card-header .nav-tabs li a {
      border: 0;
      margin-right: 0;
      color: #737373;
      padding: 2px 15px; }
      .tab-card-header .nav-tabs li a .show {
        color: #007bff; }
    .tab-card-header .nav-tabs li a:hover {
      color: #212121; }
    .tab-card-header .nav-tabs li a:focus {
      color: #212121; }
  .tab-card-header .tab-content {
    padding-bottom: 0; }

.product-header li, .news-header li {
  font-size: 1.4rem; }
.product-header .btn-slide-control, .news-header .btn-slide-control {
  width: 40px;
  height: 40px; }

.product-item {
  position: relative;
  margin: 0 0 55px; }
  .product-item .product-inner {
    position: relative;
    display: block;
    overflow: hidden; }
    .product-item .product-inner .icon-sale {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      border-radius: 50%;
      background: #80B435;
      width: 55px;
      height: 55px;
      line-height: 55px;
      color: white; }
  .product-item .product-inner:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: transparent;
    transition: all ease-in-out .3s; }
  .product-item .product-inner:hover:after {
    background: #fff;
    opacity: 0.5; }
  .product-item .product-buy {
    opacity: 0; }
    .product-item .product-buy button {
      width: 50px;
      height: 50px;
      padding: 0;
      border: 0;
      bottom: 20%;
      position: absolute;
      display: block;
      color: white;
      z-index: 9999;
      margin-top: -20px;
      background: #80B435;
      font-weight: 200; }
    .product-item .product-buy button:hover {
      color: white;
      background: #212121; }
    .product-item .product-buy .btn-buy {
      left: 28%; }
    .product-item .product-buy .btn-see {
      right: 28%; }
  .product-item .product-inner:hover + .product-buy {
    opacity: 1; }
  .product-item .product-buy:hover {
    opacity: 1; }
  .product-item .product-infor a {
    color: #888888; }
  .product-item .product-infor a:hover {
    color: #212121; }
  .product-item .product-infor .old-price {
    color: #b5b5b5;
    text-decoration: line-through;
    margin-left: 6px; }

.home-promotion {
  color: #212121; }
  .home-promotion .promotion-tittle h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold; }
  .home-promotion .promotion-tittle h3 {
    font-size: 24px;
    color: #888888;
    padding: 0 0 5px;
    font-weight: 400; }
  .home-promotion .promo-product {
    position: relative;
    padding: 30px 0 130px;
    margin: 0 0 40px; }
    .home-promotion .promo-product .promo {
      text-align: left; }
      .home-promotion .promo-product .promo .promo-info {
        position: absolute;
        color: #212121;
        width: 500px; }
        .home-promotion .promo-product .promo .promo-info .promo-subtitle {
          font-size: 28px;
          letter-spacing: 3px;
          text-transform: uppercase;
          line-height: 32px;
          display: block; }
        .home-promotion .promo-product .promo .promo-info .promo-title {
          color: #887b59;
          font-size: 39px;
          text-transform: uppercase;
          font-weight: bold; }
        .home-promotion .promo-product .promo .promo-info .promo-sale {
          font-size: 16px; }
    .home-promotion .promo-product .promo1 {
      display: inline-block;
      position: relative;
      margin-left: 212px; }
      .home-promotion .promo-product .promo1 .promo-info {
        top: 80px;
        left: calc(100% - -15px); }
        .home-promotion .promo-product .promo1 .promo-info .promo-subtitle {
          font-size: 40px;
          letter-spacing: 5px;
          line-height: 40px; }
        .home-promotion .promo-product .promo1 .promo-info .promo-title {
          font-size: 60px;
          line-height: 1.2em; }
        .home-promotion .promo-product .promo1 .promo-info .promo-sale {
          font-size: 24px; }
    .home-promotion .promo-product .promo2 {
      position: absolute;
      bottom: 0;
      right: 70px; }
      .home-promotion .promo-product .promo2 .promo-info {
        left: 50%;
        top: -120px; }
        .home-promotion .promo-product .promo2 .promo-info .promo-title {
          color: #764751 !important; }
    .home-promotion .promo-product .promo3 {
      position: absolute;
      top: 35px;
      left: 35px; }
      .home-promotion .promo-product .promo3 .promo-info {
        left: auto;
        top: 100%;
        right: 120px;
        text-align: right; }
        .home-promotion .promo-product .promo3 .promo-info .promo-title {
          color: #d3a15e !important; }
  .home-promotion .buy-now a {
    background-color: #80b435;
    color: #fff;
    border-radius: 0;
    font-size: 1.8rem;
    line-height: 45px;
    padding: 0 46px; }
  .home-promotion .buy-now a:hover {
    background: #212121; }

.see-more a {
  background-color: #80b435;
  color: #fff;
  border-radius: 0;
  font-size: 1rem;
  line-height: 40px;
  padding: 0 25px; }
.see-more a:hover {
  background: #212121;
  color: #fff; }

.customer-review {
  margin: 0;
  padding: 110px 0 120px;
  background-color: #ffffff;
  background-image: url("../images/customerbg.jpg"); }
  .customer-review .customer-review-inner .review-box-title, .customer-review .customer-review-inner .site-newsletter .newsletter-tittle, .site-newsletter .customer-review .customer-review-inner .newsletter-tittle {
    margin: 0 0 65px; }
  .customer-review .customer-review-inner .review-box-content .box-content-item .item-content {
    background: #FFF;
    font-size: 15px;
    padding: 40px 20px; }
    .customer-review .customer-review-inner .review-box-content .box-content-item .item-content .item-content-desc {
      color: #888888; }
      .customer-review .customer-review-inner .review-box-content .box-content-item .item-content .item-content-desc p {
        padding-bottom: 30px;
        border-bottom: 1px solid #888888; }
    .customer-review .customer-review-inner .review-box-content .box-content-item .item-content .author {
      font-size: 1rem;
      color: #888888;
      font-weight: 300;
      margin: 15px 0 15px 0; }
  .customer-review .customer-review-inner .review-box-content .box-avt {
    text-align: center;
    padding: 30px 0 0; }
    .customer-review .customer-review-inner .review-box-content .box-avt img {
      margin-top: -20%;
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: inline-block !important;
      border-radius: 50%; }
  .customer-review .customer-review-inner .review-box-content .customer-slide-control {
    bottom: -20%; }
  .customer-review .customer-review-inner .review-box-content .partner-slide-control {
    bottom: -70%; }

.news-item-list:hover {
  box-shadow: none !important;
  margin-top: 0 !important;
  transition: all ease-in-out .3s; }

.news-item .news-content, .news-item .news-item-list {
  color: #888; }
  .news-item .news-content .comt-count, .news-item .news-item-list .comt-count {
    margin: 0 0 18px; }
  .news-item .news-content .news-tittle, .news-item .news-item-list .news-tittle {
    margin: 0 0 15px; }
    .news-item .news-content .news-tittle h3 a, .news-item .news-item-list .news-tittle h3 a {
      color: #212121;
      font-size: 1.2rem; }
  .news-item .news-content .comt-desc, .news-item .news-item-list .comt-desc {
    margin: 0 0 7px;
    padding: 0 0 30px;
    font-size: 1rem;
    line-height: 1.7em;
    font-weight: 300; }
  .news-item .news-content .comt-show a, .news-item .news-item-list .comt-show a {
    color: #80B435; }
  .news-item .news-content .comt-show a:hover, .news-item .news-item-list .comt-show a:hover {
    text-decoration: underline; }
.news-item .news-content:hover, .news-item .news-item-list:hover {
  box-shadow: 0 0 10px #ccc;
  margin-top: -5px;
  transition: all ease-in-out .3s; }

.news-header ul li a {
  color: #212121 !important; }

.site-newsletter {
  margin: 0;
  padding: 65px 0;
  background-color: #ffffff;
  background-image: url("../images/newsletterBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .site-newsletter .newsletter-tittle form {
    position: relative;
    margin-top: 50px; }
    .site-newsletter .newsletter-tittle form input[type=email] {
      border: 1px solid #FFF;
      width: 100%;
      height: 45px;
      padding: 5px 20px;
      background: none;
      outline: none;
      position: relative;
      z-index: 2;
      color: #999; }
    .site-newsletter .newsletter-tittle form .submit-letter {
      position: absolute;
      top: 0;
      right: 0;
      background: #80b435;
      height: 100%;
      color: #fff;
      border-radius: 0;
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 30px;
      z-index: 10; }

footer {
  color: #888888; }
  footer .footer-main {
    padding: 50px 0;
    font-size: 1rem; }
    footer .footer-main strong {
      color: #212121; }
    footer .footer-main ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-main ul li {
        line-height: 27px; }
    footer .footer-main .ft-box {
      margin-bottom: 15px; }
      footer .footer-main .ft-box a {
        color: #888888; }
      footer .footer-main .ft-box a:hover {
        color: #888888; }
      footer .footer-main .ft-box h3 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        margin: 0 0 25px;
        color: #80B435; }
      footer .footer-main .ft-box .gallery {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px; }
    footer .footer-main .coppyright {
      color: #b5b5b5;
      font-size: 0.8rem; }
    footer .footer-main .ft-boder-top {
      border-top: 1px solid #212121;
      padding: 15px 0 0; }

.aboutus {
  color: #003300; }
  .aboutus span {
    margin: 0px 0px 25px; }

.product-list-page {
  color: #212121; }
  .product-list-page ul {
    list-style-type: none; }
    .product-list-page ul a {
      color: #888888;
      display: block;
      padding: 10px 0 10px 0; }
      .product-list-page ul a .cadet {
        margin-top: 7px;
        margin-right: 10px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #888888; }
    .product-list-page ul a:hover {
      color: #212121; }
    .product-list-page ul li .sub-menu-list {
      padding-left: 20px; }
      .product-list-page ul li .sub-menu-list li {
        height: 40px;
        border-bottom: 1px solid #f5f5f5; }

.pagination .page-item a:hover {
  color: #212121; }
.pagination .page-item a:active {
  color: #212121; }

.news-list-page {
  color: #212121; }
  .news-list-page a {
    color: #212121;
    font-weight: bold;
    font-size: 15px; }
  .news-list-page a:hover {
    color: #212121; }
  .news-list-page p {
    color: #888888; }
  .news-list-page .tags a {
    font-size: 21px;
    color: #888888; }
  .news-list-page .tags a:hover {
    color: #212121; }

.checkout {
  color: #888888; }
  .checkout td {
    vertical-align: middle;
    padding: 10px; }
    .checkout td a {
      color: #888888; }
    .checkout td a:hover {
      color: #212121; }

.cart-infor .add-note .add-note-header h3 {
  color: #212121; }
.cart-infor .add-note .btn-note {
  border-radius: 0; }
.cart-infor .add-note .btn-note:hover {
  color: white;
  background: #80B435; }

.cart-total {
  color: #888888; }
  .cart-total h4 {
    color: #212121; }
  .cart-total .cart-subtotal-title {
    font-size: 16px;
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
    padding: 0 0 0 20px; }
  .cart-total .cart-subtotal {
    float: right;
    line-height: 1em;
    color: #373737; }
  .cart-total .shipping {
    font-size: 18px;
    margin: 12px 0 25px;
    padding: 30px 0 10px 20px;
    color: #212121;
    border: 1px solid #dddddd;
    border-width: 1px 0; }
  .cart-total .btn-update-cart {
    background: #212121;
    color: white;
    border-radius: 0; }
  .cart-total .btn-update-cart:hover {
    background: #80B435; }
  .cart-total .btn-checkout {
    background: #b5b5b5;
    color: #212121;
    border-radius: 0; }
  .cart-total .btn-checkout:hover {
    background: #80B435;
    color: white; }

.contact-map {
  height: 500px; }

.price-box {
  color: #212121; }

.contact-main {
  color: #888888; }
  .contact-main ul {
    list-style: none;
    padding-left: 0; }
    .contact-main ul li {
      line-height: 30px; }
  .contact-main h3 {
    color: #212121; }
  .contact-main strong {
    color: #212121; }
  .contact-main a {
    color: #888888; }
  .contact-main a:hover {
    color: #212121; }

.product-detail-main {
  color: #888888; }
  .product-detail-main h1 {
    color: #212121; }
  .product-detail-main .product-detail-price {
    font-size: 30px;
    margin-bottom: 20px;
    color: #80B435; }
  .product-detail-main .product-detail-desc {
    border-bottom: 1px solid #dddddd;
    line-height: 1.7em;
    color: #888;
    font-weight: 300;
    padding: 0 0 30px; }
  .product-detail-main .product-actions {
    border-top: 1px solid #dddddd;
    padding: 28px 0 0; }
    .product-detail-main .product-actions .product-quantity {
      margin-bottom: 22px;
      color: #212121; }
      .product-detail-main .product-actions .product-quantity .quantity {
        width: 70px;
        padding: 0 2px 0 4px;
        height: 35px;
        text-align: center;
        font-size: 1.4rem;
        margin-left: 20px; }
    .product-detail-main .product-actions .product-add-cart {
      background: #80B435;
      color: white;
      border-radius: 0; }
    .product-detail-main .product-actions .product-add-cart:hover {
      background: #212121; }
    .product-detail-main .product-actions .wish-list {
      border: 1px solid #b5b5b5;
      width: 40px;
      height: 40px;
      color: #212121;
      text-align: center; }
    .product-detail-main .product-actions .wish-list:hover {
      color: pink; }
    .product-detail-main .product-actions .wish-list:active {
      color: pink; }
  .product-detail-main .product-sharing {
    border-top: 1px solid #dddddd;
    padding-top: 24px;
    clear: both;
    margin-top: 24px; }
    .product-detail-main .product-sharing a {
      color: #212121; }

/*# sourceMappingURL=style.css.map */
